body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

/*Default IMG code rule set*/
img {
  max-width: 100%;
  /*We set up display block to avoid the space underneat the image when leaving the default display inline which can prevent us from lineing up the image the way we want it.*/
  display: block;
}


/*===================================
          Typography
          * Typography is the best place to start when starting styling using CSS
=====================================
*/


h1, h2, h3 {
  color: #143774;
  font-family: 'Lora', serif;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
   margin: 0;

}

a {
  font: normal normal bold 16px/18px Ubuntu;
  color: #1792D2;
}

a:hover,
a:focus {
  color: #143774;
}

strong {
  font-weight: 700;
}

/*h1 Subtitle*/
.subtitle {
  color: #1792d2;
  font-weight: 700;
  font-size: .75rem;
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more, .article-info {
font-size: 0.875rem;
}

.article-info {
  margin: 2em 0;
}

.article-read-more {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
  text-transform: uppercase;
}

.widget-title, .widget-recent-post-title {
  font-size: 1rem;
}

.widget-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}


 
/*===================================
          Layout
=====================================
*/

.container {
  width: 90%;
  max-width: 900px;
  /*margin 0 auto is done in order to center content instead of using flexbox*/
  margin: 0 auto;
}

/*we created this modifier class ".container-nav" next to 'container' because we may need to use our container and its properties (max-width, margin)in other places of our code. So its best to add display flex to .container-nav instead  */
.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

header {
 background: #f8f8f8;
 text-align: center;
 padding: 2em 0;
 margin-bottom: 3em;
}

footer {
  background: #143774;
  color: white;
  text-align: center;
  padding: 3em 0;
}



/*Navigation*/

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  list-style: none;
  /*Margin left will help us prevent colliding nearby elements with our navigation list when re-sizing our viewport*/
  margin-left: 2em;
}

nav a {
  text-decoration: none ;
  color: #707070;
  font-weight: 700;
  padding: .25em 0;
  cursor: pointer;
}

/*focus pseudo class is used to emphasize a style when hovering over an element*/
nav a:hover,
nav a:focus {
  color:  #1792d2;
}

.current {
  border-bottom: 1px solid #707070;
}

.current:hover {
  color: #707070;
}

/*Articles*/

.article-featured {
  border-bottom: 1px solid #707070;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

/*Change the order of the children using CSS: Image on top of text*/

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}


/*Widgets*/

.sidebar-widget {
  border: 20px solid #EBEBEB;
  margin-bottom: 2em;
  padding: 1em;
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #707070;
  margin-bottom: 1em;
}

.widget-recent-post:last-child {
 border: 0;
 margin-bottom: 0;
}

.widget-image {
  order: -1;
  margin-bottom: 1em;
}




/*===============

Media Queries

=================
*/

@media(max-width: 916px) {
  h1 {
    font-size: 2rem;
  }
  
  nav ul {
    flex-direction: column;
    
   
  }
  
  nav li {
   margin: .8em 0;
  }
}

@media (min-width: 916px) {


  /*Layout*/

  .container-flex {
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    width: 75%
  }

  aside {
    width: 20%;
    min-width: 200px;
    margin-left: 1em;
  }

  /*Articles*/

  
  .article-featured {
    display: flex;
    flex-direction: column;
  }

  .article-image {
    width: 100%;
    min-height: 250px;
    /*Object fit property will adjust an image or element to fit a desired space*/
    object-fit: cover;
    order: -2;
  }

  .article-info {
    order: -1;
  }

  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
      width: 68%;
  }

  .article-recent-secondary {
    width: 30%;
  }

  
}
